.card
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
 
}
.multi-card
{
  width: 400px;
  padding: 20px;
  background-color: rgb(182, 182, 182);
}
.border
{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  
}
h2 , p{
  text-align: center;
}
button{
  width: 30px;
  height: 30px;
  margin: 0px 0px 30px 0px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: 0;
  border-radius: 4px;
}
h3{
  margin: 0 20px 1px 0;
}
.multi-card p{
  margin: 2px 10px 0 0;
}
h4{
  margin:2px 12px 0px 12px;
}
.box
{
  background-color: black;
  color: white;
  padding: 10px 0;
  font-weight: 700;
}
